body{
font-family:'Poppins',sans-serif;
margin:0;
background:#0f172a;
color:white;
}


header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#1e293b;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}


.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(45deg,#3b82f6,#9333ea);
animation:fade 2s;
}


button{
padding:10px 20px;
border:none;
background:#facc15;
color:black;
font-weight:bold;
border-radius:6px;
cursor:pointer;
}


section{
padding:60px 20px;
}


.project-card{
background:#1e293b;
padding:20px;
margin:20px;
border-radius:10px;
transition:transform 0.3s;
}

.project-card:hover{
transform:scale(1.05);
}


#contact a{
display:block;
margin:10px 0;
color:#38bdf8;
}


footer{
text-align:center;
padding:20px;
background:#1e293b;
}


@keyframes fade{
from{opacity:0}
to{opacity:1}
}